html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}


#toolbarDiv {
  position: absolute;
  top: 180px;
  right: 15px;
  cursor: default;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  z-index: 0;
}

#infoDiv {
  position: absolute;
  top: 15px;
  left: 60px;
}
#infoDiv input {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
}

.esri-widget--button.active,
.esri-widget--button.active:hover,
.esri-widget--button.active:focus {
  cursor: default;
  background-color: #999696;
}
.esri-widget--button.active path,
.esri-widget--button.active:hover path,
.esri-widget--button.active:focus path {
  fill: #e4e4e4;
}


  /* Custom Modal Styles */
  .modal-content {
    background-color: #343a40; /* Dark gray background */
    color: white; /* Default white text */
  }

  .modal-title {
    color: white; /* White title text */
  }

  .modal-body {
    color: lightgray; /* Light gray body text */
  }

  .btn-blue {
    background-color: #007bff; /* Blue background for the button */
    color: white; /* White text */
    border: none;
  }

  .btn-blue:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }


  .esri-ui-top-right .esri-component{
        margin-bottom: 5px !important;
  }